<hr class="usthr">
<marquee style="background-color: rgba(0, 195, 255, 0.356);font-family:'Fredoka', sans-serif;">SON TEKNOLOJİK CİHAZLARIN
  HABER-TANITIM WEBSİTESİ</marquee>

<script src="../Script/Anasayfa.js"></script>

<div class="konteynir">
  <div class="slidervehaberkutusu">
    <div class="Sliderkutusu">
      <div class="amazingslider-wrapper" id="amazingslider-wrapper-1"
        style="display:block;position:relative;max-width:900px;margin-left: 3rem;">
        <div class="amazingslider" id="amazingslider-1" style=" display:block;position:relative;margin:0 auto;">
          <ul class="amazingslider-slides" style=" display:none;">

            <a href="GuncelHaber1.html">
              <li><img src="/Resimler/Guncelhaber/macbook-pro-16.png"
                  alt="M1 Max işlemcili 16 inç MacBook Pro'da Yüksek Güç Modu olacak  !" />
            </a>
            </li>


            <a href="GuncelHaber2.html">
              <li><img src="/Resimler/TrendHaber/p50pocket.jpg" alt="Huawei P50 Pocket Türkiye’de satışa sunuldu" />
            </a>
            </li>

            <a href="GuncelHaber3.html">
              <li><img src="/Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg"
                  alt="Bu fırsatı sakın kaçırmayın! Lenovo Yoga Smart Tab'e 1300 TL indirim!" />
            </a>
            </li>

          </ul>
          <ul class="amazingslider-thumbnails" style="display:none;">

            <a href="Hakkimizda.html">
              <li><img src="../Resimler/Guncelhaber/macbook-pro-16.png" alt="" title="" />
            </a></li>

            <a href="">
              <li><img src="../Resimler/Guncelhaber/Lg-4k-Oled.jpg" alt="" title="" />
            </a></li>

            <a href="">
              <li><img src="../Resimler/Guncelhaber/motorola-frontier-22.jpg" alt="" title="" />
            </a></li>
          </ul>

          <div class="amazingslider-engine"><a href=""></a></div>

        </div>
      </div>

    </div>

    <div class="Haberlerkutusu">

      <div class="haber1">
        <a href="Haber1.html">
          <img src="../Resimler/Haber/msi-stealth-gs77.png" alt="msi-stealth-gs77" style="width:100%;">
          <div class="habersolaltyazi1">
            <p class="habersolaltyazi1underline">MSI, CES 2022 için Hazırladığı Yeniliklerini Sanal Etkinlikte Sundu</p>
          </div>
        </a>
      </div>

      <div class="haber2">
        <a href="Haber2.html">
          <img src="../Resimler/Haber/samsung-galaxy-s21.jpeg" alt="samsung-galaxy-s21" style="width:100%;">
          <div class="habersolaltyazi2">
            <p class="habersolaltyazi2underline">Samsung Galaxy S21 Serisi One UI 4.1 ile Güncellendi</p>
          </div>
        </a>
      </div>

      <div class="haber3">
        <a href="Haber3.html">
          <img src="../Resimler/Haber/razer-project-sophia.jpg" alt="razer-project-sophia" style="width:100%;">
          <div class="habersolaltyazi3">
            <p class="habersolaltyazi3underline">Razer, uçuk oyun masası Project Sophia ile ses getirdi</p>
          </div>
        </a>
      </div>

      <div class="haber4">
        <a href="Haber4.html">
          <img src="../Resimler/Haber/Realme-x9-Pro.jpeg" alt="Realme-x9-Pro" style="width:100%;">
          <div class="habersolaltyazi4">
            <p class="habersolaltyazi4underline">Karşınızda Realme X9 ve X9 Pro! Düşük fiyata yüksek performans</p>
          </div>
        </a>
      </div>

      <div class="haber5">
        <a href="Haber5.html">
          <img src="../Resimler/Haber/Samsung-Galaxy-tab8.jpg" alt="Samsung-Galaxy-tab8" style="width:100%;">
          <div class="habersolaltyazi5">
            <p class="habersolaltyazi5underline">Galaxy Tab S8 Ultra ile çentikli Samsung tableti gerçek oldu!</p>
          </div>
        </a>
      </div>

      <div class="haber6">
        <a href="Haber6.html">
          <img src="../Resimler/Haber/OPPO-Reno-6-Lite.jpeg" alt="OPPO-Reno-6-Lite" style="width:100%;">
          <div class="habersolaltyazi6">
            <p class="habersolaltyazi6underline">Oppo Reno 6 Lite tanıtıldı!</p>
          </div>
        </a>
      </div>

      <div class="haber7">
        <a href="Haber7.html">
          <img src="../Resimler/Haber/HUAWEI Vision S.jpeg" alt="HUAWEI-Vision-S" style="width:100%;">
          <div class="habersolaltyazi7">
            <p class="habersolaltyazi7underline">Huawei: Vision S Serisi 55/65/75 inç Piyasaya Sürüldü!</p>
          </div>
        </a>
      </div>

      <div class="haber8">
        <a href="Haber8.html">
          <img src="../Resimler/Haber/poco-17.webp" alt="poco-17" style="width:100%;">
          <div class="habersolaltyazi8">
            <p class="habersolaltyazi8underline">POCO M4 Pro tanıtıldı: İşte Özellikleri ve fiyatı</p>
          </div>
        </a>
      </div>

      <div class="haber9">
        <a href="Haber9.html">
          <img src="../Resimler/Haber/the-freestyle.jpeg" alt="the-freestyle" style="width:100%;">
          <div class="habersolaltyazi9">
            <p class="habersolaltyazi9underline">Samsung'dan yeni taşınabilir ekranı The Freestyle için ön satış
              kampanyası</p>
          </div>
        </a>
      </div>

    </div>

  </div>
  <div class="Trendhaberlerkutusu">
    <h1 class="trendhaberbasligi" style="font-size: 1.9vw;">TREND HABERLER</h1>

    <div class="trendhaber1">
      <a href="Trendhaberler.html">
        <img src="../Resimler/TrendHaber/Huawei-P50-Pocket.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi1">
          <p class="trendsolaltyazi2underline">Huawei P50 Pocket Türkiye’de satışa sunuldu</p>
        </div>
      </a>
    </div>
    <br><br>
    <div class="trendhaber2">
      <a href="Trendhaberler2.html">
        <img src="../Resimler/TrendHaber/Macbook-M1-max.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi2">
          <p class="trendsolaltyazi2underline">M1 işlemcili 13 inç Macbook Pro incelemesi</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber3">
      <a href="Trendhaberler3.html">
        <img src="../Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi3">
          <p class="trendsolaltyazi2underline">Bu fırsatı sakın kaçırmayın! Lenovo Yoga Smart Tab'e 1300 TL indirim!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber4">
      <a href="Trendhaberler4.html">
        <img src="../Resimler/TrendHaber/huawei-p50-pro.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi4">
          <p class="trendsolaltyazi2underline">HUAWEI P50 Pro Türkiye'de Satışa Sunuldu! İşte Özellikleri!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber5">
      <a href="Trendhaberler5.html">
        <img src="../Resimler/TrendHaber/monster.png" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi5">
          <p class="trendsolaltyazi2underline">Monster Abra A7 V13.2.7 Tasarımı Nasıl?</p>
        </div>
      </a>
    </div>


  </div>
</div>