<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeknoCihaz - Son çıkan teknolojik cihazlar Haber-Tanıtım WebSitesi</title>
  <link rel="stylesheet" href="css/Trendhaberler.css">
  <link rel="icon" type="" href="../Resimler/data-management.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
  <script src="../amazing2/sliderengine/jquery.js"></script>
  <script src="../amazing2/sliderengine/amazingslider.js"></script>
  <link rel="stylesheet" type="text/css" href="../amazing2/sliderengine/amazingslider-1.css">
  <script src="../amazing2/sliderengine/initslider-1.js"></script>
</head>


<hr class="usthr">
<marquee style="background-color: rgba(0, 195, 255, 0.356);font-family:'Fredoka', sans-serif;">SON TEKNOLOJİK CİHAZLARIN
  HABER-TANITIM WEBSİTESİ</marquee>

<script src="../Script/Anasayfa.js"></script>


<body>
  <div class="konteynir">

    <h1 class="trendhaberbasligi">Apple, kişisel bilgisayarlar için dünyanın en güçlü çipi olan yeni M1 Ultra’yı tanıttı
    </h1>

    <img class="trendhaber1foto" src="/Resimler/TrendHaber/Macbook-M1-max.jpg" alt="">


    <h4 class="trendhaberaltbilgi">Yepyeni Mac Studio’da bulunan M1 Ultra, masaüstüne benzersiz bir performans getiriyor
    </h4>

    <p class="trendhaberyazisi">Apple bugün, Apple çip ve Mac için devasa bir ilerleme olan M1 Ultra’yı duyurdu. M1
      Ultra, Apple’ın yenilikçi paketleme mimarisi UltraFusion’a sahip. İki M1 Max çip kalıbını birbirine bağlayarak
      benzersiz bir performans düzeyi ve eşsiz özellikler sunan bir SoC (System on a Chip) oluşturan UltraFusion ile M1
      Ultra, yeni Mac Studio’ya nefes kesici bir işlem gücü sağlıyor. Üstelik bunu yaparken sektör lideri watt başına
      performansını da koruyor. Yeni SoC, bir kişisel bilgisayar çipinde bugüne kadar görülen en yüksek transistör
      sayısı olan 114 milyar transistörden oluşuyor. M1 Ultra, 20 çekirdekli CPU, 64 çekirdekli GPU ve 32 çekirdekli
      Neural Engine tarafından erişilebilen 128 GB’a kadar yüksek bant genişliğine sahip düşük gecikmeli birleşik bellek
      ile yapılandırılabiliyor. Böylece kod derleyen geliştiriciler ve daha önce render alınması mümkün olmayan
      büyüklükte devasa 3D ortamlarda çalışan sanatçılar için olağanüstü bir performans sunuyor. Bu performans sayesinde
      video sektöründe çalışan profesyoneller de ProRes formatına video kod dönüştürme işlemini Afterburner’a sahip 28
      çekirdekli bir Mac Pro’ya göre 5,6 kata kadar daha hızlı yapabiliyor.</p>

    <img class="trendhaber1foto"
      src="/Resimler/TrendHaber/Apple-M1-Ultra-hero-220308_big.jpg.large.jpg" alt="">

    <p class="trendhaberyazisi">“Fark yaratan Apple çipi yeni M1 Ultra, PC sektöründe bir kez daha şok etkisi yaratacak.
      UltraFusion paketleme mimarimizle iki M1 Max kalıbını birbirine bağlayarak Apple çipi benzersiz bir seviyeye
      çıkardık.” diyen Apple Donanım Teknolojilerinden Sorumlu Başkan Yardımcısı Johny Srouji sözlerini şöyle sürdürdü:
      “İçindeki güçlü CPU, devasa GPU, olağanüstü Neural Engine, ProRes donanım hızlandırma özelliği ve çok yüksek
      miktarda birleşik belleğiyle M1 Ultra, kişisel bilgisayarlar için dünyanın en güçlü ve yetenekli çipi olarak M1
      ailesini tamamlıyor.” </p>


  </div>

  </div>
  <div class="Trendhaberlerkutusu">
    <h1 class="trendhaberbasligi" style="font-size: 1.9vw;">TREND HABERLER</h1>

    <div class="trendhaber1">
      <a href="Trendhaberler.html">
        <img src="../Resimler/TrendHaber/Huawei-P50-Pocket.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi1">
          <p class="trendsolaltyazi2underline">Huawei P50 Pocket Türkiye’de satışa sunuldu</p>
        </div>
      </a>
    </div>
    <br><br>
    <div class="trendhaber2">
      <a href="Trendhaberler2.html">
        <img src="../Resimler/TrendHaber/Macbook-M1-max.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi2">
          <p class="trendsolaltyazi2underline">M1 işlemcili 13 inç Macbook Pro incelemesi</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber3">
      <a href="Trendhaberler3.html">
        <img src="../Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi3">
          <p class="trendsolaltyazi2underline">Bu fırsatı sakın kaçırmayın! Lenovo Yoga Smart Tab'e 1300 TL indirim!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber4">
      <a href="Trendhaberler4.html">
        <img src="../Resimler/TrendHaber/huawei-p50-pro.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi4">
          <p class="trendsolaltyazi2underline">HUAWEI P50 Pro Türkiye'de Satışa Sunuldu! İşte Özellikleri!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber5">
      <a href="Trendhaberler5.html">
        <img src="../Resimler/TrendHaber/monster.png" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi5">
          <p class="trendsolaltyazi2underline">Monster Abra A7 V13.2.7 Tasarımı Nasıl?</p>
        </div>
      </a>
    </div>


  </div>


  </div>

</body>



</html>