<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeknoCihaz - Son çıkan teknolojik cihazlar Haber-Tanıtım WebSitesi</title>
  <link rel="stylesheet" href="css/Trendhaberler.css">
  <link rel="icon" type="" href="../Resimler/data-management.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
  <script src="../amazing2/sliderengine/jquery.js"></script>
  <script src="../amazing2/sliderengine/amazingslider.js"></script>
  <link rel="stylesheet" type="text/css" href="../amazing2/sliderengine/amazingslider-1.css">
  <script src="../amazing2/sliderengine/initslider-1.js"></script>
</head>


<hr class="usthr">
<marquee  style="background-color: rgba(0, 195, 255, 0.356);font-family:'Fredoka', sans-serif;">SON TEKNOLOJİK CİHAZLARIN HABER-TANITIM WEBSİTESİ</marquee>

<script src="../Script/Anasayfa.js"></script>


<body>
  <div class="konteynir">

    <h1 class="trendhaberbasligi">Fiyatını gören ekranı kapatıyor: Huawei P50 Pocket Türkiye'de satışa çıktı</h1>

    <img class="trendhaber1foto" src="../Resimler/TrendHaber/p50pocket.jpg" alt="">


    <h4 class="trendhaberaltbilgi">Çinli teknoloji markası Huawei, yeni katlanabilir ekranlı telefonu P50 Pocket
      modelini Türkiye pazarına sundu. İşte 28 bin TL’lik Huawei P50 Pocket’ın özellikleri...</h4>

    <p class="trendhaberyazisi">Huawei’nin katlanabilir ekranlı yeni telefonu Huawei P50 Pocket, Türkiye’de satışa
      sunuldu. Mobil fotoğrafçılığa odaklanan P Serisinin yeni üyesi Huawei P50 Pocket, yatay olarak ikiye
      katlanabiliyor.

      Merkezi olarak yerleştirilmiş menteşe sayesinde P50 Pocket’ta simetrik ve çok boyutlu bağlantı kaldırma tasarımına
      sahip bir katlama mekanizmasına bulunuyor. Bu mekanizma sayesinde cihaz açıldığında, menteşe sistemi yükselerek
      düzgün bir ekran ortaya çıkartıyor. Çok boyutlu menteşe teknolojisi ise cihaza dayanıklılık ve güç sağlıyor.</p>

    <img class="trendhaber1foto"
      src="../Resimler/TrendHaber/Trendhaberfotolar/Huawei-P50-Pocket-Resmi-Olarak-Tanitildi.jpg" alt="">

    <p class="trendhaberyazisi">Huawei P50 Pocket katlandığında yalnızca 15.2 mm ve açıldığında 7.2 mm inceliğinde. 21:9
      en boy oranı, 442 PPI piksel yoğunluğu, 1.07 milyar renk ve sinematik bir izleme deneyimi sağlayan renk üretimi
      için P3 renk gamı desteğine sahip 6.9 inç esnek OLED ekran, P50 Pocket’in diğer öne çıkan ekran özellikleri
      arasında yer alıyor. Cihazın kapak ekranı ise 1.04 inç boyutunda. <br> Telefonun kapak ekranı ise çeşitli
      bilgilere kolay erişim sağlarken müziği yönetmek, takvimi kontrol etmek, fotoğraf veya video çekmek ve
      bildirimleri yönetmek için de kullanılabiliyor.


      Akıllı telefon ayrıca, katlandığında kameraları, mikrofonu ve konum hizmetlerini otomatik olarak devre dışı
      bırakan Süper Gizlilik Modu'nu da barındırıyor. 4000 mAh bataryası olan Huawei P50 Pocket, 40W Huawei SuperCharge
      ile yüksek şarj hızlarını destekliyor. </p>


  </div>

  </div>
  <div class="Trendhaberlerkutusu">
    <h1 class="trendhaberbasligi" style="font-size: 1.9vw;">TREND HABERLER</h1>

    <div class="trendhaber1">
      <a href="Trendhaberler.html">
        <img src="../Resimler/TrendHaber/Huawei-P50-Pocket.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi1">
          <p class="trendsolaltyazi2underline">Huawei P50 Pocket Türkiye’de satışa sunuldu</p>
        </div>
      </a>
    </div>
    <br><br>
    <div class="trendhaber2">
      <a href="Trendhaberler2.html">
        <img src="../Resimler/TrendHaber/Macbook-M1-max.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi2">
          <p class="trendsolaltyazi2underline">M1 işlemcili 13 inç Macbook Pro incelemesi</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber3">
      <a href="Trendhaberler3.html">
        <img src="../Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi3">
          <p class="trendsolaltyazi2underline">Bu fırsatı sakın kaçırmayın! Lenovo Yoga Smart Tab'e 1300 TL indirim!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber4">
      <a href="Trendhaberler4.html">
        <img src="../Resimler/TrendHaber/huawei-p50-pro.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi4">
          <p class="trendsolaltyazi2underline">HUAWEI P50 Pro Türkiye'de Satışa Sunuldu! İşte Özellikleri!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber5">
      <a href="Trendhaberler5.html">
        <img src="../Resimler/TrendHaber/monster.png" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi5">
          <p class="trendsolaltyazi2underline">Monster Abra A7 V13.2.7 Tasarımı Nasıl?</p>
        </div>
      </a>
    </div>


  </div>


  </div>

</body>



</html>