<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeknoCihaz - Son çıkan teknolojik cihazlar Haber-Tanıtım WebSitesi</title>
    <link rel="stylesheet" href="css/Anasayfa.css">
    <link rel="stylesheet" href="css/Hakkimizda.css">
    <link rel="icon" type="" href="../Resimler/data-management.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <script src="../amazing2/sliderengine/jquery.js"></script>
    <script src="../amazing2/sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="../amazing2/sliderengine/amazingslider-1.css">
    <script src="../amazing2/sliderengine/initslider-1.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>


<hr class="usthr">

<script src="../Script/Anasayfa.js"></script>


<body>
    <div class="konteynir">
        <div class="about-section">
            <br>
            <h1 class="hakkimdayazisi">HAKKIMDA </h1>
            <h3 class="dpu"> <img class="dpulogo" src="../Resimler/dpu_logo_anahtar_iki_buyuk.png" height="auto"
                    width="120rem" alt=""> Kütahya Dumlupınar Üniversitesi'nde</h3>
            <h3 class="Bolumum">Bilgisayar Mühendisliği Okumaktayım</h3><br><br>
        </div>

        <h2 class="iletisimbilgileriyazisi" style="text-align:center"> <br> İletişim Bilgileri ve Öz Geçmiş</h2>
        <div class="row">

            <div class="column">
                <div class="card">
                    <img src="../Resimler/WhatsApp Image 2022-03-13 at 20.12.55 (1).jpeg" alt=""
                        style="width:100%; border-radius: 10px; ">
                    <div class="container">
                        <br>
                        <h2 class="isimsoyisim" style="text-align: center;">Eren ŞAKRAK</h2> <br>
                        <p class="title">Website'nin Kurucusu</p>
                        <p class="title2">İletişim Adresim:</p>
                        <p class="title2">eren.sakrak@ogr.dpu.edu.tr</p>
                        <br>
                        <a href="https://mail.google.com" target="_blank">
                            <p><button class="button">İletişime Geç</button></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ozgecmiskutusu">
                <p class="ozgecmisim">Merhaba. Bu kısımda özgeçmişim hakkında birkaç satır yazı yazmak istedim. Kütahya
                    Dumlupınar Üniversitesi'nde Bilgisiyar Mühendisliği bölümünde 3.sınıf öğrencisiyim. 1999 yılında
                    Gümüşhane'de doğdum. Hayatım genellikle Türkiye'deki birkaç ili gezmekle geçti. Nedeniyse babamın
                    Askeri memur olmasıydı. Elbette hal böyle olunca gerek arkadaş ortamımda olsun gerek eğitim
                    hayatımda olsun malesef bunun zorluklarını yaşadım. Kısacası bu bölüme ve Kütahya'ya gelerek
                    istediğim hayali gerçekletirebildim. Son olarak umarım bu düzenlediğim websitesi size güzel ve faydalı 
                    bilgiler verebilmiştir. </p>
            </div>
        </div>

    </div>


</body>



</html>