<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeknoCihaz - Son çıkan teknolojik cihazlar Haber-Tanıtım WebSitesi</title>
  <link rel="stylesheet" href="css/Trendhaberler.css">
  <link rel="icon" type="" href="../Resimler/data-management.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
  <script src="../amazing2/sliderengine/jquery.js"></script>
  <script src="../amazing2/sliderengine/amazingslider.js"></script>
  <link rel="stylesheet" type="text/css" href="../amazing2/sliderengine/amazingslider-1.css">
  <script src="../amazing2/sliderengine/initslider-1.js"></script>
</head>


<hr class="usthr">
<marquee style="background-color: rgba(0, 195, 255, 0.356);font-family:'Fredoka', sans-serif;">SON TEKNOLOJİK CİHAZLARIN
  HABER-TANITIM WEBSİTESİ</marquee>

<script src="../Script/Anasayfa.js"></script>


<body>
  <div class="konteynir">

    <h1 class="trendhaberbasligi">Monster Abra A7 V13.1 İncelemesi! Oyun Performansı Nasıl?</h1>

    <img class="trendhaber1foto" src="/Resimler/TrendHaber/110000040847630.jpg" alt="">


    <h4 class="trendhaberaltbilgi">İncelemelerimizde her zaman tasarımdan başlamaya alıştık. Öyle de devam edelim ve
      önce tasarım bölümü diyelim. Monster bir dönem tasarım konusunda az da olsa eleştiri alıyordu. Peki bu yeni seride
      durum ne?</h4>

    <p class="trendhaberyazisi">Oyuncu laptoplarında biraz hareketli bir tasarım kullanılmasını sevenlerdenim. Çok sade
      bir tasarım, bence oyuncu laptoplarının o güç odaklı yapısını yansıtmaya yetmiyor. Monster bu seride ise ne çok
      abartılı ne de çok sade bir tasarım kullanmış.

      Genel olarak değerlendirecek olursak evet sade ifadesine yer verebiliriz ama alüminyum gövdede üst kapak üzerinde
      kullanılan aydınlatmalı çizgiler ve logo, sade tasarımın biraz daha hareketle desteklenmesini sağlamış.

      Bunun dışında üst kısımda başka bir oynama söz konusu değil. Günlük kullanımlar ve iş odaklı kullanımlar için de
      ideal bir kapak tasarımı diyebiliriz.</p>
  </div>

  </div>
  <div class="Trendhaberlerkutusu">
    <h1 class="trendhaberbasligi" style="font-size: 1.9vw;">TREND HABERLER</h1>

    <div class="trendhaber1">
      <a href="Trendhaberler.html">
        <img src="../Resimler/TrendHaber/Huawei-P50-Pocket.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi1">
          <p class="trendsolaltyazi2underline">Huawei P50 Pocket Türkiye’de satışa sunuldu</p>
        </div>
      </a>
    </div>
    <br><br>
    <div class="trendhaber2">
      <a href="Trendhaberler2.html">
        <img src="../Resimler/TrendHaber/Macbook-M1-max.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi2">
          <p class="trendsolaltyazi2underline">M1 işlemcili 13 inç Macbook Pro incelemesi</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber3">
      <a href="Trendhaberler3.html">
        <img src="../Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi3">
          <p class="trendsolaltyazi2underline">Bu fırsatı sakın kaçırmayın! Lenovo Yoga Smart Tab'e 1300 TL indirim!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber4">
      <a href="Trendhaberler4.html">
        <img src="../Resimler/TrendHaber/huawei-p50-pro.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi4">
          <p class="trendsolaltyazi2underline">HUAWEI P50 Pro Türkiye'de Satışa Sunuldu! İşte Özellikleri!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber5">
      <a href="Trendhaberler5.html">
        <img src="../Resimler/TrendHaber/monster.png" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi5">
          <p class="trendsolaltyazi2underline">Monster Abra A7 V13.2.7 Tasarımı Nasıl?</p>
        </div>
      </a>
    </div>


  </div>


  </div>

</body>



</html>