<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeknoCihaz - Son çıkan teknolojik cihazlar Haber-Tanıtım WebSitesi</title>
  <link rel="stylesheet" href="css/Trendhaberler.css">
  <link rel="icon" type="" href="../Resimler/data-management.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
  <script src="../amazing2/sliderengine/jquery.js"></script>
  <script src="../amazing2/sliderengine/amazingslider.js"></script>
  <link rel="stylesheet" type="text/css" href="../amazing2/sliderengine/amazingslider-1.css">
  <script src="../amazing2/sliderengine/initslider-1.js"></script>
</head>


<hr class="usthr">
<marquee style="background-color: rgba(0, 195, 255, 0.356);font-family:'Fredoka', sans-serif;">SON TEKNOLOJİK CİHAZLARIN
  HABER-TANITIM WEBSİTESİ</marquee>

<script src="../Script/Anasayfa.js"></script>


<body>
  <div class="konteynir">

    <h1 class="trendhaberbasligi">Huawei P50 Pro Fiyatı Türkiye’de Düşüşte!</h1>

    <img class="trendhaber1foto" src="/Resimler/TrendHaber/huawei-p50-pro.jpg" alt="">


    <h4 class="trendhaberaltbilgi">Huawei P50 Pro Fiyatı Türkiye’de Düşüşte!</h4>

    <p class="trendhaberyazisi">Mart ayı itibariyle Türkiye pazarına giriş yapan Huawei P50 Pro cephesinde fiyat düşüşü
      yavaştan da olsa devam ediyor. Mevcut döviz kuru göz önüne alındığında herhangi bir akıllı telefonda fiyat
      indirimi ile karşılaşmak bile büyük sürpriz. Huawei P50 Pro fiyatı Türkiye’de son indirim sonrası yaklaşık 500
      TL’lik bir fiyat düşüşü daha yaşadı.</p>

    <img class="trendhaber1foto" src="/Resimler/TrendHaber/Huawei-9999.jpg" alt="">

    <p class="trendhaberyazisi">Huawei P50 Pro‘da 6.6 inç büyüklüğünde Full HD+ çözünürlüğünde kavisli OLED ekran
      bulunuyor. 120Hz yenileme hızına sahip olan bu ekran 1.07 milyar renk gösterimi yapabilmekte. 5nm üretim sürecine
      sahip Snapdragon 888‘in 4G sürümünden güç alan telefon en çok da kamera özellikleriyle ses getiriyor. Telefonun
      ana kamerasında OIS destekli 50 megapiksel sensör yer alıyor. Buna 40 megapiksel monokrom (siyah/beyaz), 13
      megapiksel ultra geniş açılı ve 64 megapiksel periskop telefoto kamera eşlik ediyor. 13 megapiksel ön kameraya
      sahip olan telefonda kutudan Android 12 tabanlı EMUI 12 arayüzü ile çıkıyor. </p>

      


  </div>

  </div>
  <div class="Trendhaberlerkutusu">
    <h1 class="trendhaberbasligi" style="font-size: 1.9vw;">TREND HABERLER</h1>

    <div class="trendhaber1">
      <a href="Trendhaberler.html">
        <img src="../Resimler/TrendHaber/Huawei-P50-Pocket.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi1">
          <p class="trendsolaltyazi2underline">Huawei P50 Pocket Türkiye’de satışa sunuldu</p>
        </div>
      </a>
    </div>
    <br><br>
    <div class="trendhaber2">
      <a href="Trendhaberler2.html">
        <img src="../Resimler/TrendHaber/Macbook-M1-max.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi2">
          <p class="trendsolaltyazi2underline">M1 işlemcili 13 inç Macbook Pro incelemesi</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber3">
      <a href="Trendhaberler3.html">
        <img src="../Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi3">
          <p class="trendsolaltyazi2underline">Bu fırsatı sakın kaçırmayın! Lenovo Yoga Smart Tab'e 1300 TL indirim!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber4">
      <a href="Trendhaberler4.html">
        <img src="../Resimler/TrendHaber/huawei-p50-pro.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi4">
          <p class="trendsolaltyazi2underline">HUAWEI P50 Pro Türkiye'de Satışa Sunuldu! İşte Özellikleri!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber5">
      <a href="Trendhaberler5.html">
        <img src="../Resimler/TrendHaber/monster.png" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi5">
          <p class="trendsolaltyazi2underline">Monster Abra A7 V13.2.7 Tasarımı Nasıl?</p>
        </div>
      </a>
    </div>


  </div>


  </div>

</body>



</html>