<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeknoCihaz - Son çıkan teknolojik cihazlar Haber-Tanıtım WebSitesi</title>
  <link rel="stylesheet" href="css/Trendhaberler.css">
  <link rel="icon" type="" href="../Resimler/data-management.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
  <script src="../amazing2/sliderengine/jquery.js"></script>
  <script src="../amazing2/sliderengine/amazingslider.js"></script>
  <link rel="stylesheet" type="text/css" href="../amazing2/sliderengine/amazingslider-1.css">
  <script src="../amazing2/sliderengine/initslider-1.js"></script>
</head>


<hr class="usthr">
<marquee style="background-color: rgba(0, 195, 255, 0.356);font-family:'Fredoka', sans-serif;">SON TEKNOLOJİK CİHAZLARIN
  HABER-TANITIM WEBSİTESİ</marquee>

<script src="../Script/Anasayfa.js"></script>


<body>
  <div class="konteynir">

    <h1 class="trendhaberbasligi">Lenovo Yoga Smart Tab, Mutfağınıza Asabileceğiniz Bir Tablettir</h1>

    <img class="trendhaber1foto" src="/Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg" alt="">


    <h4 class="trendhaberaltbilgi">Yoga Smart Tab, bir Qualcomm Snapdragon 439 işlemciye, 4 GB RAM'e ve 64 GB depolama
      alanına kadar yapılandırılabilir. Bu arada, Smart Tab M8 bir MediaTek A22 Tab CPU, 2GB RAM ve 32GB depolama ile
      donatılacak. Her iki sistem de Android Pie üzerinde çalışıyor.Yoga Smart Tab, bir Qualcomm Snapdragon 439
      işlemciye, 4 GB RAM'e ve 64 GB depolama alanına kadar yapılandırılabilir. Bu arada, Smart Tab M8 bir MediaTek A22
      Tab CPU, 2GB RAM ve 32GB depolama ile donatılacak. Her iki sistem de Android Pie üzerinde çalışıyor.</h4>

    <p class="trendhaberyazisi">Gerçekte, Yoga Smart Tab'ın arkasında, stand olarak kullanmak için dışa doğru
      katlayabileceğiniz veya duvara asmak için ekrana paralel katlayabileceğiniz bir kanat vardır, çünkü ortada sadece
      bunun için tasarlanmış bir delik vardır. Tabletin arkası hoş bir mat gri kaplamaya sahipken, menteşe, ayağa
      kalkabilmeniz için bir silindir şeklinde spor yapıyor ve ayrıca her iki ucunda da iki hoparlör var. Önde 5 MP,
      arkada 8 MP kamera bulunuyor.

      Smart Tab M8, platin gri arka yüzüyle daha sade bir tasarıma sahiptir. Bununla birlikte, birlikte gelen bir Akıllı
      Şarj İstasyonunu destekler. Hem şarj cihazı hem de stand görevi görür. Smart Tab M8'in ön tarafında 2 MP, arka
      tarafında ise 5 MP kamera bulunuyor.

      1,28 pound ve 9,5 x 6,5 x 0,3~0,9 inç boyutlarındaki Yoga Smart Tab, 0,67 pound ve 7,8 x 4,8 x 0,3 inç
      boyutlarında gelen Smart Tab M8'den açıkça çok daha büyük.

      Bağlantı noktalarına gelince, Yoga Smart Tab'de bir USB Type-C bağlantı noktası, bir microSD kart yuvası, bir
      kulaklık girişi ve bir SIM kart yuvası bulunurken, Smart Tab M8'de bir microUSB bağlantı noktası, bir kulaklık
      girişi ve bir SIM kart yuvası bulunur.</p>

    <img class="trendhaber1foto" src="/Resimler/TrendHaber/lenovo-tablet-yoga-smart-tab-subseries-ports-1.jpg" alt="">

    <p class="trendhaberyazisi">Şaşırtıcı olmayan bir şekilde, Smart Tab M8'in 8 inçlik ekranı 1280 x 800'de daha düşük
      bir çözünürlüğe sahip, ancak aslında daha parlak, 350 nit hızında. Ne yazık ki, sRGB renk gamının sadece %60'ını
      kapsıyor ve bu iyi değil. </p>


  </div>

  </div>
  <div class="Trendhaberlerkutusu">
    <h1 class="trendhaberbasligi" style="font-size: 1.9vw;">TREND HABERLER</h1>

    <div class="trendhaber1">
      <a href="Trendhaberler.html">
        <img src="../Resimler/TrendHaber/Huawei-P50-Pocket.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi1">
          <p class="trendsolaltyazi2underline">Huawei P50 Pocket Türkiye’de satışa sunuldu</p>
        </div>
      </a>
    </div>
    <br><br>
    <div class="trendhaber2">
      <a href="Trendhaberler2.html">
        <img src="../Resimler/TrendHaber/Macbook-M1-max.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi2">
          <p class="trendsolaltyazi2underline">M1 işlemcili 13 inç Macbook Pro incelemesi</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber3">
      <a href="Trendhaberler3.html">
        <img src="../Resimler/TrendHaber/Lenovo-Yogo-Smart.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi3">
          <p class="trendsolaltyazi2underline">Bu fırsatı sakın kaçırmayın! Lenovo Yoga Smart Tab'e 1300 TL indirim!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber4">
      <a href="Trendhaberler4.html">
        <img src="../Resimler/TrendHaber/huawei-p50-pro.jpg" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi4">
          <p class="trendsolaltyazi2underline">HUAWEI P50 Pro Türkiye'de Satışa Sunuldu! İşte Özellikleri!</p>
        </div>
      </a>
    </div>
    <br><br><br>
    <div class="trendhaber5">
      <a href="Trendhaberler5.html">
        <img src="../Resimler/TrendHaber/monster.png" alt="Snow" style="width:100%;">
        <div class="trendsolaltyazi5">
          <p class="trendsolaltyazi2underline">Monster Abra A7 V13.2.7 Tasarımı Nasıl?</p>
        </div>
      </a>
    </div>


  </div>


  </div>

</body>



</html>