<div class="footericin">
    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="https://www.facebook.com/eren.sakrak" target=”_blank”><img src="../Resimler/facebook.png" alt=""></a>
        <a href="https://www.instagram.com/eren.sakrakk" target=”_blank”><img src="../Resimler/instagram.png"
            alt=""></a>
        <a href="https://tr.linkedin.com/in/erensakrakk?trk=people-guest_people_search-card" target=”_blank”><img
            src="../Resimler/linkedin.png" alt=""></a>
        <a href="https://github.com/ErenSakrak/YokeGT" target=”_blank”><img src="../Resimler/github.png" alt=""></a>


      </div>

      <div class="footer-left">

        <p class="footer-links">

          <a class="link-1" href="Anasayfa.html">Anasayfa</a>

          <a href="Iletisim.html">İletişim</a>

          <a class="link-2" href="Hakkimizda.html">Hakkımda</a>
        </p>

        <p> Copyright © 2021 tüm hakları saklıdır &copy; 2022</p>
      </div>


      <div class="iletisimbilgileri">
        <h1 class="iletisimbaslik">Adres :</h1>
        <br>
        <p class="iletisimyazi">TeknoCihaz – Kurumsal Adres  <br>
          Alsancak Mahallesi 2134.sokak No:6/14 <br>
          06000 – Etimesgut/Ankara</p>
      </div>
    </footer>
  </div>