<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeknoCihaz - Son çıkan teknolojik cihazlar Haber-Tanıtım WebSitesi</title>
  <link rel="stylesheet" href="/css/Anasayfa.css">
  <link rel="icon" type="" href="../Resimler/data-management.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
  <script src="../amazing2/sliderengine/jquery.js"></script>
  <script src="../amazing2/sliderengine/amazingslider.js"></script>
  <link rel="stylesheet" type="text/css" href="../amazing2/sliderengine/amazingslider-1.css">
  <script src="../amazing2/sliderengine/initslider-1.js"></script>
</head>

</html>